body {
  min-height: 1000px;
  padding-top: 0px;
}
.jumbotron {
    background-color: #222;
    margin: 0;
    padding: 0;
}

.portfolio {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
.portfolioCluster {
    border: 1px solid #000;
}
.portfolioImg {
    margin: 7.5px 0;
    width: 100%;
    border-radius: 5px;
}

#about {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: x-large;
    padding: 0 15px;
    border-left: 1px solid #888;
}

#jumboImg {
    width: 100%;
    max-width: 1440px;
}

#logoLight {
    display: inline;
    margin-top: -12px;
}

#selfie {
    margin-bottom: 15px;
}



/*----------------------------*/
@media screen and (max-width: 340px) {
}

@media screen and (max-width: 565px) {
    #selfie {
        width: 100%
    }
}
