body {
  min-height: 1000px;
  padding-top: 0px;
  background-color: #413E4A;
  color: #000;
}

hr {
    margin-bottom: 50px;
}

#about {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: x-large;
    padding: 0 15px;
    margin: 0 -15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

#backToTop {
    font-size: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0.8;
}

#jumboImg {
    width: 100%;
    max-height: 780px;
}

#logoLight {
    display: inline;
    margin-top: -12px;
}

#selfie {
    margin-bottom: 15px;
}

/*     CLASSES   */

.fa-chevron-right {
    position: relative;
    top: 45%;
    text-shadow: 5px 0px 1px #222;
    font-size: -webkit-xxx-large;
}
.fa-chevron-left {
    position: relative;
    top: 45%;
    text-shadow: -5px 0px 1px #222;
    font-size: -webkit-xxx-large;
}
.fadded {
    opacity: 0.5;
    color: #333;
}
.hideMe {
    display: none;
}
.container .jumbotron {
    padding: 0;
    border-radius: 0;
}
.jumbotron {
    background-color: #222;
    margin: 0;
    padding: 0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-nav>li>.dropdown-menu {
    background-image: url('https://jargan76.github.io/carlosgarccia/assests/images/navbar-texture2.png');
}
.dropdown-menu>li>a {
    color: #eee;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #eee;
}
.navbar-default {
    background-image: url('https://jargan76.github.io/carlosgarccia/assests/images/navbar-texture2.png');
    background-position-y: -32px;
    border-top: 2px solid #492041;
    border-bottom: 2px solid #492041;
    border-left:none;
    border-right:none;
    border-radius: 0;
}
.navbar-default .navbar-collapse {
    border: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:visited {
    color: #eee;
    font-size: large;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #aaa;
}

.navbar-default .navbar-brand {
    color: #eee;
}

.navbar-default .navbar-brand:hover {
    color: #aaa;
}

.navbar-default:hover {
    opacity: 1;
}

.portfolio {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
.portfolioImg:hover {
    box-shadow: 0 0 8px #222;
}
.portfolioImg {
    margin: 7.5px 0;
    width: 100%;
    border-radius: 5px;
}

.row {
    margin:0;
}

.short {
    max-width: 724px;
    box-shadow: 0px 0px 7px #222;
}

.tall {
    max-height: 1024px;
    max-width:  724px;
}

.well {
    background-color: #36313E;
    border: none;
    color: #eee;
}

/*----------------------------*/
@media screen and (max-width: 340px) {
}

@media screen and (max-width: 565px) {
    #selfie {
        width: 100%
    }
}
